.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // margin-top: 5%;
}

.app__profile-item {
  width: 520px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 60%;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (max-width: 1300px) {
    justify-content: center;
    align-items: center;
  }
}
